.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #323232;
}
.page-container1 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.page-text {
  color: rgb(255, 255, 255);
  font-size: 48px;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.page-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #000000;
}
.page-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.page-links {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page-navlink {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.page-navlink01 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.page-navlink02 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.page-navlink03 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.page-navlink04 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.page-navlink05 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.page-link {
  display: contents;
}
.page-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-link01 {
  display: contents;
}
.page-image01 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-link02 {
  display: contents;
}
.page-image02 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-link03 {
  display: contents;
}
.page-image03 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  text-decoration: none;
}
.page-burger-menu {
  display: none;
}
.page-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  visibility: hidden;
  flex-direction: column;
  justify-content: space-between;
}
.page-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.page-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.page-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.page-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.page-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.page-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.page-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 30px;
  display: flex;
  visibility: hidden;
  align-items: flex-start;
  justify-content: flex-start;
}
.page-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.page-container4 {
  flex: 0 0 auto;
  width: auto;
  height: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.page-link04 {
  display: contents;
}
.page-image04 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-link05 {
  display: contents;
}
.page-image05 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-link06 {
  display: contents;
}
.page-image06 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-link07 {
  display: contents;
}
.page-image07 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-container5 {
  width: 1200px;
  height: 672px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/u-building-700h.png");
  background-position: center;
}
.page-text13 {
  color: #000000;
  font-size: 72px;
  background-color: #D9D9D9;
}
.page-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.page-container6 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.page-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.page-text14 {
  color: rgb(255, 255, 255);
  font-size: 28px;
}
.page-text19 {
  color: rgb(255, 255, 255);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.page-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.page-container7 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.page-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page-navlink06 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.page-navlink07 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-navlink08 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-navlink09 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-navlink10 {
  color: #ffffff;
  text-decoration: none;
}
.page-container8 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.page-navlink11 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.page-link08 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-text23 {
  color: #ffffff;
}
.page-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page-text24 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.page-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page-link09 {
  display: contents;
}
.page-image08 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-link10 {
  display: contents;
}
.page-image09 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-link11 {
  display: contents;
}
.page-image10 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-link12 {
  display: contents;
}
.page-image11 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  text-decoration: none;
}
.page-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.page-text25 {
  color: #ffffff;
  align-self: center;
}
.page-text26 {
  color: rgb(255, 255, 255);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .page-text {
    font-size: 42px;
  }
  .page-footer {
    flex-direction: column;
  }
  .page-container7 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .page-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .page-text {
    font-size: 32px;
  }
  .page-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .page-text06 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-text07 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-text10 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-text11 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-text12 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-container6 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .page-logo {
    align-items: center;
  }
  .page-text19 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .page-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .page-container7 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .page-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .page-text {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .page-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .page-desktop-menu {
    display: none;
  }
  .page-burger-menu {
    display: flex;
  }
  .page-icon {
    fill: #ffffff;
  }
  .page-mobile-menu {
    height: 35vh;
    padding: 16px;
    visibility: visible;
    background-color: #000000;
  }
  .page-text03 {
    color: #ffffff;
  }
  .page-text04 {
    font-size: 18px;
  }
  .page-icon2 {
    fill: #ffffff;
  }
  .page-text06 {
    color: rgb(255, 255, 255);
  }
  .page-text07 {
    color: rgb(255, 255, 255);
  }
  .page-text10 {
    color: rgb(255, 255, 255);
  }
  .page-text11 {
    color: rgb(255, 255, 255);
  }
  .page-text12 {
    color: rgb(255, 255, 255);
  }
  .page-container2 {
    visibility: visible;
  }
  .page-text13 {
    font-size: 48px;
  }
  .page-footer {
    padding: var(--dl-space-space-unit);
  }
  .page-container6 {
    align-items: center;
    flex-direction: column;
  }
  .page-text19 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .page-links-container {
    align-items: center;
    flex-direction: column;
  }
  .page-container7 {
    margin-right: 0px;
  }
  .page-product-container {
    margin-right: 0px;
    flex-direction: row;
  }
  .page-navlink06 {
    font-weight: 400;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .page-navlink07 {
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .page-navlink08 {
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .page-navlink09 {
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .page-container8 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .page-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-text25 {
    font-size: 12px;
    text-align: center;
  }
  .page-text26 {
    font-size: 12px;
    text-align: center;
  }
}
