.contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #323232;
}
.contact-container1 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.contact-text {
  color: rgb(255, 255, 255);
  font-size: 44px;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.contact-navbar-interactive {
  width: 100%;
  display: flex;
  align-self: to;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #000000;
}
.contact-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.contact-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.contact-navlink {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.contact-navlink01 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-navlink02 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-navlink03 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-navlink04 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-navlink05 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-link {
  display: contents;
}
.contact-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-link01 {
  display: contents;
}
.contact-image01 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-link02 {
  display: contents;
}
.contact-image02 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-link03 {
  display: contents;
}
.contact-image03 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  text-decoration: none;
}
.contact-burger-menu {
  display: none;
}
.contact-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.contact-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact-text01 {
  height: 2rem;
}
.contact-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact-navlink06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-navlink07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-navlink08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-navlink10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-navlink11 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-link04 {
  display: contents;
}
.contact-image04 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-link05 {
  display: contents;
}
.contact-image05 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-link06 {
  display: contents;
}
.contact-image06 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-link07 {
  display: contents;
}
.contact-image07 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  text-decoration: none;
}
.contact-text02 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
}
.contact-text03 {
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
}
.contact-text04 {
  color: #ffffff;
  font-weight: 700;
  text-decoration: underline;
}
.contact-text05 {
  color: #ffffff;
  font-weight: 700;
  text-decoration: underline;
}
.contact-text06 {
  color: #ffffff;
}
.contact-text07 {
  color: #ffffff;
}
.contact-text08 {
  color: #ffffff;
}
.contact-text09 {
  color: #ffffff;
  font-weight: 700;
  text-decoration: underline;
}
.contact-text10 {
  color: #ffffff;
  font-weight: 700;
  text-decoration: underline;
}
.contact-text11 {
  color: #ffffff;
}
.contact-text12 {
  color: #ffffff;
}
.contact-text13 {
  color: #ffffff;
}
.contact-text14 {
  color: #ffffff;
  font-weight: 700;
  text-decoration: underline;
}
.contact-text15 {
  color: #ffffff;
  font-weight: 700;
  text-decoration: underline;
}
.contact-text16 {
  color: #ffffff;
}
.contact-text18 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
}
.contact-text19 {
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
}
.contact-text20 {
  color: #ffffff;
  font-weight: 700;
  text-decoration: underline;
}
.contact-text21 {
  color: #ffffff;
  font-weight: 700;
  text-decoration: underline;
}
.contact-text22 {
  color: #ffffff;
}
.contact-text24 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
}
.contact-text25 {
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-sixunits);
}
.contact-text26 {
  color: #ffffff;
  font-weight: 700;
  text-decoration: underline;
}
.contact-text27 {
  color: #ffffff;
  font-weight: 700;
  text-decoration: underline;
}
.contact-text28 {
  color: #ffffff;
}
.contact-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.contact-container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.contact-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.contact-text30 {
  color: rgb(255, 255, 255);
  font-size: 28px;
}
.contact-text35 {
  color: rgb(255, 255, 255);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.contact-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.contact-container3 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.contact-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-navlink12 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.contact-navlink13 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-navlink14 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-navlink15 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-navlink16 {
  color: #ffffff;
  text-decoration: none;
}
.contact-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.contact-navlink17 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.contact-link08 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-text39 {
  color: #ffffff;
}
.contact-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-text40 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.contact-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-link09 {
  display: contents;
}
.contact-image08 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-link10 {
  display: contents;
}
.contact-image09 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-link11 {
  display: contents;
}
.contact-image10 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-link12 {
  display: contents;
}
.contact-image11 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  text-decoration: none;
}
.contact-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.contact-text41 {
  color: #ffffff;
  align-self: center;
}
.contact-text42 {
  color: rgb(255, 255, 255);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .contact-text {
    font-size: 34px;
  }
  .contact-footer {
    flex-direction: column;
  }
  .contact-container3 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .contact-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .contact-text {
    font-size: 20px;
  }
  .contact-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-desktop-menu {
    display: none;
  }
  .contact-navlink {
    color: rgb(255, 255, 255);
  }
  .contact-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-icon {
    fill: #ffffff;
  }
  .contact-mobile-menu {
    background-color: #000000;
  }
  .contact-text01 {
    color: #ffffff;
  }
  .contact-icon2 {
    fill: #ffffff;
  }
  .contact-navlink06 {
    color: #ffffff;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-navlink07 {
    color: #ffffff;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-navlink08 {
    color: #ffffff;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-navlink09 {
    color: #ffffff;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-navlink10 {
    color: #ffffff;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-navlink11 {
    color: #ffffff;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-logo {
    align-items: center;
  }
  .contact-text35 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .contact-container3 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .contact-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .contact-text {
    color: rgb(255, 255, 255);
    font-size: 14px;
  }
  .contact-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .contact-icon {
    fill: #ffffff;
  }
  .contact-mobile-menu {
    padding: 16px;
  }
  .contact-text01 {
    font-size: 24px;
  }
  .contact-navlink06 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .contact-text02 {
    margin-top: 400px;
    text-align: center;
  }
  .contact-text18 {
    text-align: center;
  }
  .contact-text24 {
    text-align: center;
  }
  .contact-footer {
    padding: var(--dl-space-space-unit);
  }
  .contact-container2 {
    align-items: center;
    flex-direction: column;
  }
  .contact-text35 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-links-container {
    align-items: center;
    flex-direction: column;
  }
  .contact-container3 {
    margin-right: 0px;
  }
  .contact-product-container {
    margin-right: 0px;
    flex-direction: row;
  }
  .contact-navlink12 {
    font-weight: 400;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .contact-navlink13 {
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .contact-navlink14 {
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .contact-navlink15 {
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .contact-container4 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .contact-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-text41 {
    font-size: 12px;
    text-align: center;
  }
  .contact-text42 {
    font-size: 12px;
    text-align: center;
  }
}
