.gallery-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #323232;
}
.gallery-container01 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.gallery-text {
  color: rgb(255, 255, 255);
  font-size: 44px;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.gallery-navbar-interactive {
  width: 100%;
  display: flex;
  align-self: to;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #000000;
}
.gallery-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.gallery-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.gallery-navlink {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.gallery-navlink01 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.gallery-navlink02 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.gallery-navlink03 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.gallery-navlink04 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.gallery-navlink05 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.gallery-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-link {
  display: contents;
}
.gallery-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-link01 {
  display: contents;
}
.gallery-image01 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-link02 {
  display: contents;
}
.gallery-image02 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-link03 {
  display: contents;
}
.gallery-image03 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  text-decoration: none;
}
.gallery-burger-menu {
  display: none;
}
.gallery-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gallery-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.gallery-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gallery-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.gallery-text01 {
  height: 2rem;
}
.gallery-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gallery-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gallery-navlink06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-navlink07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-navlink08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-navlink10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-navlink11 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-link04 {
  display: contents;
}
.gallery-image04 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-link05 {
  display: contents;
}
.gallery-image05 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-link06 {
  display: contents;
}
.gallery-image06 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-link07 {
  display: contents;
}
.gallery-image07 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  text-decoration: none;
}
.gallery-text02 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  margin-top: var(--dl-space-space-threeunits);
}
.gallery-navlink12 {
  display: contents;
}
.gallery-container02 {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.gallery-container03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.gallery-text03 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 54px;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
}
.gallery-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.gallery-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.gallery-image08 {
  width: 40%;
  height: 340px;
  align-self: flex-start;
  object-fit: cover;
  margin-left: 0px;
}
.gallery-image09 {
  width: 40%;
  height: 340px;
  align-self: flex-start;
  object-fit: cover;
}
.gallery-text04 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 24px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0px;
}
.gallery-navlink13 {
  display: contents;
}
.gallery-container06 {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.gallery-container07 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.gallery-text05 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 54px;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
}
.gallery-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.gallery-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.gallery-image10 {
  width: 40%;
  height: 340px;
  align-self: flex-start;
  object-fit: cover;
  margin-left: 0px;
}
.gallery-image11 {
  width: 40%;
  height: 340px;
  align-self: flex-start;
  object-fit: cover;
}
.gallery-text06 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 24px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0px;
}
.gallery-navlink14 {
  display: contents;
}
.gallery-container10 {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.gallery-container11 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.gallery-text07 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 54px;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
}
.gallery-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.gallery-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.gallery-image12 {
  width: 40%;
  height: 340px;
  align-self: flex-start;
  object-fit: cover;
  margin-left: 0px;
}
.gallery-image13 {
  width: 40%;
  height: 340px;
  align-self: flex-start;
  object-fit: cover;
}
.gallery-text08 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 24px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: var(--dl-space-space-threeunits);
}
.gallery-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.gallery-container14 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.gallery-text09 {
  color: rgb(255, 255, 255);
  font-size: 28px;
}
.gallery-text14 {
  color: rgb(255, 255, 255);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.gallery-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-container15 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.gallery-navlink15 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.gallery-navlink16 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-navlink17 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-navlink18 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-navlink19 {
  color: #ffffff;
  text-decoration: none;
}
.gallery-container16 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.gallery-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.gallery-navlink20 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.gallery-link08 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-text18 {
  color: #ffffff;
}
.gallery-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.gallery-text19 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-link09 {
  display: contents;
}
.gallery-image14 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-link10 {
  display: contents;
}
.gallery-image15 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-link11 {
  display: contents;
}
.gallery-image16 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-link12 {
  display: contents;
}
.gallery-image17 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  text-decoration: none;
}
.gallery-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.gallery-text20 {
  color: #ffffff;
  align-self: center;
}
.gallery-text21 {
  color: rgb(255, 255, 255);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .gallery-text {
    font-size: 34px;
  }
  .gallery-container05 {
    align-self: center;
    flex-direction: column;
  }
  .gallery-image08 {
    width: 60%;
    align-self: center;
    margin-left: 0px;
  }
  .gallery-image09 {
    width: 60%;
    align-self: center;
  }
  .gallery-text04 {
    margin-left: 20%;
    margin-right: 20%;
  }
  .gallery-text05 {
    font-size: 48px;
  }
  .gallery-container09 {
    align-self: center;
    flex-direction: column;
  }
  .gallery-image10 {
    width: 60%;
    align-self: center;
    margin-left: 0px;
  }
  .gallery-image11 {
    width: 60%;
    align-self: center;
  }
  .gallery-text06 {
    margin-left: 20%;
    margin-right: 20%;
  }
  .gallery-text07 {
    font-size: 48px;
  }
  .gallery-container13 {
    align-self: center;
    flex-direction: column;
  }
  .gallery-image12 {
    width: 60%;
    align-self: center;
    margin-left: 0px;
  }
  .gallery-image13 {
    width: 60%;
    align-self: center;
  }
  .gallery-text08 {
    margin-left: 20%;
    margin-right: 20%;
  }
  .gallery-footer {
    flex-direction: column;
  }
  .gallery-container15 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .gallery-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .gallery-text {
    font-size: 20px;
  }
  .gallery-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallery-desktop-menu {
    display: none;
  }
  .gallery-navlink {
    color: rgb(255, 255, 255);
  }
  .gallery-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery-icon {
    fill: #ffffff;
  }
  .gallery-mobile-menu {
    background-color: #000000;
  }
  .gallery-text01 {
    color: #ffffff;
  }
  .gallery-icon2 {
    fill: #ffffff;
  }
  .gallery-navlink06 {
    color: #ffffff;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-navlink07 {
    color: #ffffff;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-navlink08 {
    color: #ffffff;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-navlink09 {
    color: #ffffff;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-navlink10 {
    color: #ffffff;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-navlink11 {
    color: #ffffff;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-container02 {
    height: 1200px;
    margin-top: 0px;
    margin-bottom: 200;
    flex-direction: column;
  }
  .gallery-text03 {
    font-size: 42px;
  }
  .gallery-container06 {
    height: 1200px;
    margin-top: 0px;
    margin-bottom: 200;
    flex-direction: column;
  }
  .gallery-text05 {
    font-size: 38px;
  }
  .gallery-container10 {
    height: 1200px;
    margin-top: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .gallery-text07 {
    font-size: 38px;
  }
  .gallery-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallery-container14 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .gallery-logo {
    align-items: center;
  }
  .gallery-text14 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .gallery-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .gallery-container15 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .gallery-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .gallery-text {
    color: rgb(255, 255, 255);
    font-size: 14px;
  }
  .gallery-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .gallery-icon {
    fill: #ffffff;
  }
  .gallery-mobile-menu {
    padding: 16px;
  }
  .gallery-text01 {
    font-size: 24px;
  }
  .gallery-navlink06 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .gallery-container02 {
    margin-bottom: var(--dl-space-space-sixunits);
  }
  .gallery-text03 {
    font-size: 24px;
  }
  .gallery-image08 {
    width: 100%;
  }
  .gallery-image09 {
    width: 100%;
    margin-top: var(--dl-space-space-unit);
  }
  .gallery-text04 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gallery-container06 {
    margin-bottom: var(--dl-space-space-sixunits);
  }
  .gallery-text05 {
    font-size: 24px;
  }
  .gallery-image10 {
    width: 100%;
  }
  .gallery-image11 {
    width: 100%;
    margin-top: var(--dl-space-space-unit);
  }
  .gallery-text06 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gallery-container10 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .gallery-text07 {
    font-size: 24px;
  }
  .gallery-image12 {
    width: 100%;
  }
  .gallery-image13 {
    width: 100%;
    margin-top: var(--dl-space-space-unit);
  }
  .gallery-text08 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gallery-footer {
    padding: var(--dl-space-space-unit);
  }
  .gallery-container14 {
    align-items: center;
    flex-direction: column;
  }
  .gallery-text14 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .gallery-links-container {
    align-items: center;
    flex-direction: column;
  }
  .gallery-container15 {
    margin-right: 0px;
  }
  .gallery-product-container {
    margin-right: 0px;
    flex-direction: row;
  }
  .gallery-navlink15 {
    font-weight: 400;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .gallery-navlink16 {
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .gallery-navlink17 {
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .gallery-navlink18 {
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .gallery-container16 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .gallery-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-text20 {
    font-size: 12px;
    text-align: center;
  }
  .gallery-text21 {
    font-size: 12px;
    text-align: center;
  }
}
