.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #323232;
}
.home-container01 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.home-text {
  color: rgb(255, 255, 255);
  font-size: 44px;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  align-self: to;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #000000;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-navlink {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-navlink01 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-navlink02 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-navlink03 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-navlink04 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-navlink05 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-link {
  display: contents;
}
.home-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link01 {
  display: contents;
}
.home-image01 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link02 {
  display: contents;
}
.home-image02 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link03 {
  display: contents;
}
.home-image03 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  text-decoration: none;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-text01 {
  height: 2rem;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-navlink06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink11 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-link04 {
  display: contents;
}
.home-image04 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link05 {
  display: contents;
}
.home-image05 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link06 {
  display: contents;
}
.home-image06 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link07 {
  display: contents;
}
.home-image07 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  text-decoration: none;
}
.home-container02 {
  width: 100%;
  height: 437px;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-navlink12 {
  display: contents;
}
.home-container03 {
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  background-color: #D9D9D9;
}
.home-container04 {
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image08 {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.home-text02 {
  color: #000000;
}
.home-text03 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
}
.home-navlink13 {
  display: contents;
}
.home-container05 {
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  text-decoration: none;
  background-color: #D9D9D9;
}
.home-container06 {
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image09 {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.home-text04 {
  color: rgb(0, 0, 0);
}
.home-text05 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
}
.home-navlink14 {
  display: contents;
}
.home-container07 {
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  text-decoration: none;
  background-color: #D9D9D9;
}
.home-container08 {
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image10 {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.home-text06 {
  color: rgb(0, 0, 0);
}
.home-text07 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
}
.home-container09 {
  width: 100%;
  height: 437px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-navlink15 {
  display: contents;
}
.home-container10 {
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  background-color: #D9D9D9;
}
.home-container11 {
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image11 {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.home-text08 {
  color: rgb(0, 0, 0);
  font-size: 32px;
}
.home-text09 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
}
.home-navlink16 {
  display: contents;
}
.home-container12 {
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  text-decoration: none;
  background-color: #D9D9D9;
}
.home-container13 {
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image12 {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.home-text10 {
  color: rgb(0, 0, 0);
}
.home-text11 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
}
.home-navlink17 {
  display: contents;
}
.home-container14 {
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  text-decoration: none;
  background-color: #D9D9D9;
}
.home-container15 {
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image13 {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.home-text12 {
  color: rgb(0, 0, 0);
  font-size: 29px;
}
.home-text13 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container16 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.home-text14 {
  color: rgb(255, 255, 255);
  font-size: 28px;
}
.home-text19 {
  color: rgb(255, 255, 255);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-container17 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.home-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-navlink18 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.home-navlink19 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink20 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink21 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink22 {
  color: #ffffff;
  text-decoration: none;
}
.home-container18 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-navlink23 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.home-link08 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-text23 {
  color: #ffffff;
}
.home-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text24 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-link09 {
  display: contents;
}
.home-image14 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link10 {
  display: contents;
}
.home-image15 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link11 {
  display: contents;
}
.home-image16 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link12 {
  display: contents;
}
.home-image17 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  text-decoration: none;
}
.home-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.home-text25 {
  color: #ffffff;
  align-self: center;
}
.home-text26 {
  color: rgb(255, 255, 255);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .home-text {
    font-size: 34px;
  }
  .home-footer {
    flex-direction: column;
  }
  .home-container17 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .home-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .home-text {
    font-size: 20px;
  }
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-navlink {
    color: rgb(255, 255, 255);
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-icon {
    fill: #ffffff;
  }
  .home-mobile-menu {
    background-color: #000000;
  }
  .home-text01 {
    color: #ffffff;
  }
  .home-icon2 {
    fill: #ffffff;
  }
  .home-navlink06 {
    color: #ffffff;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-navlink07 {
    color: #ffffff;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-navlink08 {
    color: #ffffff;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-navlink09 {
    color: #ffffff;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-navlink10 {
    color: #ffffff;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-navlink11 {
    color: #ffffff;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container02 {
    height: 1200px;
    margin-top: 0px;
    flex-direction: column;
  }
  .home-container03 {
    align-self: center;
    margin-top: var(--dl-space-space-threeunits);
  }
  .home-container05 {
    align-self: center;
    margin-top: var(--dl-space-space-threeunits);
    margin-left: 0px;
  }
  .home-container07 {
    align-self: center;
    margin-top: var(--dl-space-space-threeunits);
    margin-left: 0px;
  }
  .home-container09 {
    height: 1200px;
    margin-top: 0px;
    margin-bottom: var(--dl-space-space-sixunits);
    flex-direction: column;
  }
  .home-container10 {
    align-self: center;
    margin-top: var(--dl-space-space-threeunits);
  }
  .home-container12 {
    align-self: center;
    margin-top: var(--dl-space-space-threeunits);
    margin-left: 0px;
  }
  .home-container14 {
    align-self: center;
    margin-top: var(--dl-space-space-threeunits);
    margin-left: 0px;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container16 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-logo {
    align-items: center;
  }
  .home-text19 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .home-container17 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .home-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .home-text {
    color: rgb(255, 255, 255);
    font-size: 14px;
  }
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-icon {
    fill: #ffffff;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-text01 {
    font-size: 24px;
  }
  .home-navlink06 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .home-container02 {
    margin-top: 400px;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-container16 {
    align-items: center;
    flex-direction: column;
  }
  .home-text19 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-links-container {
    align-items: center;
    flex-direction: column;
  }
  .home-container17 {
    margin-right: 0px;
  }
  .home-product-container {
    margin-right: 0px;
    flex-direction: row;
  }
  .home-navlink18 {
    font-weight: 400;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .home-navlink19 {
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .home-navlink20 {
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .home-navlink21 {
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .home-container18 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .home-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text25 {
    font-size: 12px;
    text-align: center;
  }
  .home-text26 {
    font-size: 12px;
    text-align: center;
  }
}
