.news-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #323232;
}
.news-container01 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.news-text {
  color: rgb(255, 255, 255);
  font-size: 44px;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.news-navbar-interactive {
  width: 100%;
  display: flex;
  align-self: to;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #000000;
}
.news-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.news-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.news-navlink {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.news-navlink01 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.news-navlink02 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.news-navlink03 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.news-navlink04 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.news-navlink05 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.news-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.news-link {
  display: contents;
}
.news-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.news-link01 {
  display: contents;
}
.news-image01 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.news-link02 {
  display: contents;
}
.news-image02 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.news-link03 {
  display: contents;
}
.news-image03 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  text-decoration: none;
}
.news-burger-menu {
  display: none;
}
.news-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.news-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.news-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.news-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.news-text01 {
  height: 2rem;
}
.news-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.news-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.news-navlink06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.news-navlink07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.news-navlink08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.news-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.news-navlink10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.news-navlink11 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.news-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.news-link04 {
  display: contents;
}
.news-image04 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.news-link05 {
  display: contents;
}
.news-image05 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.news-link06 {
  display: contents;
}
.news-image06 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.news-link07 {
  display: contents;
}
.news-image07 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  text-decoration: none;
}
.news-text02 {
  color: rgb(255, 255, 255);
  font-size: 64px;
  margin-top: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-threeunits);
}
.news-link08 {
  display: contents;
}
.news-container02 {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.news-container03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.news-text03 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 54px;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
}
.news-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.news-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.news-image08 {
  width: 40%;
  height: 340px;
  align-self: flex-start;
  object-fit: cover;
  margin-left: 0px;
}
.news-image09 {
  width: 40%;
  height: 340px;
  align-self: flex-start;
  object-fit: cover;
}
.news-text04 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 24px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0px;
}
.news-text06 {
  font-weight: 700;
  text-decoration: underline;
}
.news-container06 {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-sixunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: row;
  justify-content: flex-start;
}
.news-container07 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.news-text11 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 54px;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
}
.news-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.news-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.news-image10 {
  width: 40%;
  height: 340px;
  align-self: flex-start;
  object-fit: cover;
  margin-left: 0px;
}
.news-image11 {
  width: 40%;
  height: 340px;
  align-self: flex-start;
  object-fit: cover;
}
.news-text12 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 24px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0px;
}
.news-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.news-container10 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.news-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.news-text15 {
  color: rgb(255, 255, 255);
  font-size: 28px;
}
.news-text20 {
  color: rgb(255, 255, 255);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.news-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.news-container11 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.news-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.news-navlink12 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.news-navlink13 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.news-navlink14 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.news-navlink15 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.news-navlink16 {
  color: #ffffff;
  text-decoration: none;
}
.news-container12 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.news-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.news-navlink17 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.news-link09 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.news-text24 {
  color: #ffffff;
}
.news-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.news-text25 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.news-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.news-link10 {
  display: contents;
}
.news-image12 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.news-link11 {
  display: contents;
}
.news-image13 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.news-link12 {
  display: contents;
}
.news-image14 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.news-link13 {
  display: contents;
}
.news-image15 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  text-decoration: none;
}
.news-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.news-text26 {
  color: #ffffff;
  align-self: center;
}
.news-text27 {
  color: rgb(255, 255, 255);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .news-text {
    font-size: 34px;
  }
  .news-container05 {
    align-self: center;
    flex-direction: column;
  }
  .news-image08 {
    width: 60%;
    align-self: center;
    margin-left: 0px;
  }
  .news-image09 {
    width: 60%;
    align-self: center;
  }
  .news-text04 {
    margin-left: 20%;
    margin-right: 20%;
  }
  .news-text11 {
    font-size: 44px;
  }
  .news-container09 {
    align-self: center;
    flex-direction: column;
  }
  .news-image10 {
    width: 60%;
    align-self: center;
    margin-left: 0px;
  }
  .news-image11 {
    width: 60%;
    align-self: center;
  }
  .news-text12 {
    margin-left: 20%;
    margin-right: 20%;
  }
  .news-footer {
    flex-direction: column;
  }
  .news-container11 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .news-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .news-text {
    font-size: 20px;
  }
  .news-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .news-desktop-menu {
    display: none;
  }
  .news-navlink {
    color: rgb(255, 255, 255);
  }
  .news-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .news-icon {
    fill: #ffffff;
  }
  .news-mobile-menu {
    background-color: #000000;
  }
  .news-text01 {
    color: #ffffff;
  }
  .news-icon2 {
    fill: #ffffff;
  }
  .news-navlink06 {
    color: #ffffff;
    margin-bottom: var(--dl-space-space-unit);
  }
  .news-navlink07 {
    color: #ffffff;
    margin-bottom: var(--dl-space-space-unit);
  }
  .news-navlink08 {
    color: #ffffff;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .news-navlink09 {
    color: #ffffff;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .news-navlink10 {
    color: #ffffff;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .news-navlink11 {
    color: #ffffff;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .news-container02 {
    height: 1200px;
    margin-top: 0px;
    flex-direction: column;
  }
  .news-text03 {
    font-size: 42px;
  }
  .news-container06 {
    height: 1200px;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-direction: column;
  }
  .news-text11 {
    font-size: 34px;
  }
  .news-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .news-container10 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .news-logo {
    align-items: center;
  }
  .news-text20 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .news-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .news-container11 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .news-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .news-text {
    color: rgb(255, 255, 255);
    font-size: 14px;
  }
  .news-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .news-icon {
    fill: #ffffff;
  }
  .news-mobile-menu {
    padding: 16px;
  }
  .news-text01 {
    font-size: 24px;
  }
  .news-navlink06 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .news-text02 {
    font-size: 48px;
  }
  .news-container02 {
    margin-bottom: 0px;
  }
  .news-container03 {
    width: 100%;
  }
  .news-text03 {
    font-size: 24px;
    align-self: center;
    text-align: center;
  }
  .news-container04 {
    width: 100%;
  }
  .news-container05 {
    width: 100%;
  }
  .news-image08 {
    width: 100%;
  }
  .news-image09 {
    width: 100%;
    margin-top: var(--dl-space-space-unit);
  }
  .news-text04 {
    width: 100%;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .news-container06 {
    margin-bottom: 0px;
  }
  .news-text11 {
    font-size: 24px;
  }
  .news-image10 {
    width: 100%;
  }
  .news-image11 {
    width: 100%;
    margin-top: var(--dl-space-space-unit);
  }
  .news-text12 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .news-footer {
    padding: var(--dl-space-space-unit);
  }
  .news-container10 {
    align-items: center;
    flex-direction: column;
  }
  .news-text20 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .news-links-container {
    align-items: center;
    flex-direction: column;
  }
  .news-container11 {
    margin-right: 0px;
  }
  .news-product-container {
    margin-right: 0px;
    flex-direction: row;
  }
  .news-navlink12 {
    font-weight: 400;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .news-navlink13 {
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .news-navlink14 {
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .news-navlink15 {
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .news-container12 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .news-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .news-text26 {
    font-size: 12px;
    text-align: center;
  }
  .news-text27 {
    font-size: 12px;
    text-align: center;
  }
}
